PORT=5001
MONGO_URI=your-mongodb-connection-string
ACCESS_TOKEN_SECRET=your-access-token-secret
CLIENT_URL=http://localhost:8080
CLOUDINARY_CLOUD_NAME=your-cloud-name
CLOUDINARY_API_KEY=your-api-key
CLOUDINARY_API_SECRET=your-api-secret
